@{
    Layout = "_Layout";
}

   
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-warning">
        <div class="container-fluid">
            <a class="navbar-brand text-warning fw-bold" asp-controller="Home" asp-action="Index">Business School</a>

            <div class="collapse navbar-collapse" id="navbarStudent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                   @if (User.IsInRole("Student"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Inscription" asp-action="CreateInscription">Register in Club</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Inscription" asp-action="MyInscriptions">My Inscriptions</a>
                        </li>
                    }
                    |@if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                        <a class="nav-link" asp-controller="Inscription" asp-action="AllStudents">View Students</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        @RenderBody()
    </div>

    
